:root{
  --sec:#bbb;
  --bg:#202124;
}

body{
  display: flex;
  justify-content:center;
  align-items:center;

  margin:0;
  padding:0;

  color:var(--sec);
  background-color:var(--bg);

  width:100vw;
  height:100vh;
}
