@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@200&display=swap");

a {
  text-decoration: none;
  font-weight: 800;
  color: #047dffcb;
}
a:hover {
  color: #bbb;
}

h1 {
  text-decoration: underline;
}
